/* Write your CSS here */
.bg-container {
  height: 100vh;
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
}

.timer-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  width: 600px;
  height: 600px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #ffffff;
}
