/* Write your CSS code here */
.logo {
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.euro {
  margin-right: 20px;
}

.usd {
  margin-right: 20px;
}
