/* Write your CSS here */
.team-matches-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.latest-match {
  color: #ffffff;
  font-weight: bold;
}
.latest-match-container-para {
  width: 90%;
}

.team-matches-img-banner {
  width: 90%;
  margin-top: 20px;
  border-radius: 10px;
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.team-matches-unordered {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.RR {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
