.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */

.filter-category-list {
  list-style-type: none;
  padding-left: 0px;
}

.selected-category {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 15px;
  color: #0967d2;
  font-weight: bold;
}

.up {
  font-size: 15px;
  margin-bottom: 10px;
}
.category {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 15px;
  color: #64748b;
}

.rating-img {
  width: 80%;
}

.filter-rating-list {
  list-style-type: none;
  padding-left: 0px;
}

.filter-rating-item {
}

.rating-button {
  border: none;
  background-color: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px;
  background-color: transparent;
  cursor: pointer;
}

.rating-img {
  width: 200px;
}

.input-container-search {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f5f9;
  width: 80%;
  height: 35px;
}

@media screen and (max-width: 767px) {
  .input-container-search {
    width: 100%;
  }
}
.search-input {
  width: 80%;
  background-color: transparent;
  padding-left: 10px;
  border: none;
  outline: none;
}

.clear-btn {
  width: 130px;
  height: 30px;
  border: 2px solid #0967d2;
  background-color: transparent;
  color: #0967d2;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.search-icon-1 {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: #64748b;
}

.selected-para {
  color: #0967d2;
  font-weight: bold;
}
.para {
  margin: 0px;
}
